<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
  body {
    font-family: 'Inter', sans-serif;
  }
</style>
<div class="flex min-h-screen flex-col bg-gray-50 text-gray-900">
  <app-header />
  <div class="flex flex-1">
    <app-navbar />
    <app-content class="flex-1"></app-content>
  </div>
  <app-footer />
</div>

<ng-container *ngIf="activeModal$ | async as modal">
  <app-login *ngIf="modal === 'login'"></app-login>
  <app-register *ngIf="modal === 'register'"></app-register>
</ng-container>
